<?php
$config = array(
    "hostname"=>"localhost",
    "username"=>"username",
    "password"=>"password",
    "database"=>"database",
    "read_whitelist"=>false,
    "read_blacklist"=>array("users"),
    "list_whitelist"=>false,
    "list_blacklist"=>array("users"),
);
