parameters:
    level: 5
    scanFiles:
        - stubs/wordpress.php
        - test.php
        - update.php
        - build.php
        - install.php
        - api.php
        - api.include.php
    paths:
        - src
    fileExtensions:
        - php
