<?php
namespace Mevdschee\PhpCrudApi\Tests;

class Config
{
    /**
     * Configure one or more database connections as associative arrays.
     * Tests will be run against any database connection specified here.
     *
     * @var array
     */
    public static $config = array(
        'MySQL' => array(
            'hostname' => '{{mysql_hostname}}',  // 'localhost' for MySQL, '(Local)' for SQLServer, empty for SQLite
            'username' => '{{mysql_username}}',  // May be empty on SQLServer or SQLite
            'password' => '{{mysql_password}}',  // May be empty on SQLServer or SQLite
            'database' => '{{mysql_database}}',  // NB: Use an empty database, data will be LOST!
        ),
        /* Uncomment and update for any databases you want to use.
        'PostgreSQL' => array(
            'hostname' => '{{pgsql_hostname}}',
            'username' => '{{pgsql_username}}',
            'password' => '{{pgsql_password}}',
            'database' => '{{pgsql_database}}',
        ),
        'SQLite' => array(
            'hostname' => '{{sqlite_hostname}}',
            'username' => '{{sqlite_username}}',
            'password' => '{{sqlite_password}}',
            'database' => '{{sqlite_database}}',
        ),
        'SQLServer' => array(
            'hostname' => '{{sqlsrv_hostname}}',
            'username' => '{{sqlsrv_username}}',
            'password' => '{{sqlsrv_password}}',
            'database' => '{{sqlsrv_database}}',
        ),
        */
    );
}
